<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<daffodil>
			<configuration>
				<url>https://www.example.com</url>
				<active>0</active>
			</configuration>
			<routes>
				<noop__index__index>noop</noop__index__index>
			</routes>
		</daffodil>
	</default>
</config>
